* {
  margin: 0%;
  padding: 0%;
}
html {
  background-color: rgb(2, 2, 2);
  filter: blur(0.3px);
}
body {
  width: max-content;
  border: 20px solid #ad1a03cd;
  border-radius: 12px;
  padding: 1%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}
h1 {
  text-align: center;
  margin: 3%;
}
#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 300px;
  width: 300px;
  border: 20px solid #7e4900;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
}
.cell {
  border: 1px solid black;
  font-size: 50px;
  text-align: center;
  padding-top: 15%;
}
.button {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: auto;
  margin-top: 1%;
  width: max-content;
  border-radius: 12px;
  border: 0;
  background-color: rgb(56, 150, 245);
  text-align: center;
  padding: 1%;
}
.button2 {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: auto;
  margin-bottom: 1%;
  width: max-content;
  border-radius: 12px;
  border: 0;
  background-color: rgb(56, 150, 245);
  text-align: center;
  padding: 1%;
}
